<form method="POST">
    <label for="title">title:</label>
    <input type="text" name="title" id="title" autofocus>

    <label for="excel_columns">Excel columns row:</label>
    <input type="text" name="excel_columns" id="excel_columns" placeholder="E.g. A,C,E-H">

    <label for="excel_header_row">Excel header row number:</label>
    <input type="text" name="excel_header_row" id="excel_header_row" value="0">

    <input type="submit">
</form>