<h1>Deployment</h1>
<a href="/deployment/list">List</a> | <a href="/deployment/edit/{{obj['id']}}">Edit</a>
<hr/>
<dl>
    <dt>id<dt>
    <dd>{{obj['id']}}</dd>

    <dt>title<dt>
    <dd>{{obj['title']}}</dd>

    <dt>excel_columns<dt>
    <dd>{{obj['excel_colulmns']}}</dd>

    <dt>excel_header_file<dt>
    <dd>{{obj['excel_header_file']}}</dd>
</dl>